*
{
    padding: 0px;
    margin: 0px;
}

html, body
{
    width: 100%;
    height: 100vh;
}

#top
{
    text-align: center;
    background-color: rgba(0,0,0,0.4);
}

#title
{
    font-size: 45px;
    font-weight: bold;
}

#postWriting
{
    text-decoration: none;
    float: left;
    background-color: grey;
    
    height: 52px;
    width: 100px;
    line-height: 50px;
}

#postWriting:visited
{
    color: blue;
}

#authAndLogout
{
    line-height: 50px;
    text-decoration: none;
    background-color: grey;
    float: right;

    height: 52px;
    width: 100px;

    margin-right: 10px;
}

#username
{
    float: right;
    margin-right: 20px;
}

#authAndLogout:visited
{
    color: blue;
}

#posts
{
    margin-top: 4px;

    overflow-y: scroll;

    width: 100%;
    height: 85vh;
    box-sizing: border-box;
}
#search
{
    display: flex;
    flex-direction: row;
}

#searchText
{
    width: 95%;
    height: 40px;
    font-size: 20px;
}

#searchButton
{
    width: 5%;
}

.post
{
    border: 1px solid black;
    width: 95%;
    margin: 0px auto;
    margin-top: 10px;
}

.postText
{
    margin: 20px 0px;
}

.deletePostForm
{
    display: inline-block;
    background-image: url("/icons/delete.png");
    background-repeat: no-repeat;
    background-position: 100% 60%;
    background-size: 80%;
}

.deletePostIcon
{
    opacity: 0;
}

.postTags, #postDate
{
    margin: 10px 0px;
}

.postImage
{
    display: block;
    width: 400px;
    height: 200px;
}