*
{
    margin: 0px;
    padding: 0px;
}

html
{
    height: 100%;
    width: 100%;
}

#search
{
    display: flex;
    flex-direction: row;
}

#searchText
{
    width: 95%;
    height: 40px;
}

#searchButton
{
    width: 5%;
}

#post
{
    border: 1px solid black;
    width: 95%;
    margin: 0px auto;
    margin-top: 10px;
}

#deletePostForm
{
    display: inline-block;
    background-image: url("/icons/delete.png");
    background-repeat: no-repeat;
    background-position: 100% 60%;
    background-size: 80%;
}

#deletePostIcon
{
    opacity: 0;
}

#postTags, #postDate
{
    margin: 10px 0px;
}

#postImage
{
    display: block;
    width: 400px;
    height: 200px;
}