*
{
    padding: 0px;
    margin: 0px;
}

html
{
    width: 100%;
    height: 100%;
}

#top
{
    text-align: center;
    background-color: rgba(0,0,0,0.4);
}

#title
{
    font-size: 45px;
    font-weight: bold;
}

#main_page
{
    text-decoration: none;
    background-color: grey;
    
    height: 52px;
    width: 150px;

    float: left;
}

#main_page:visited
{
    color: blue;
}

#post_writing
{
    text-decoration: none;
    float: left;
    background-color: grey;
    
    margin-left: 10px;

    height: 52px;
    width: 100px;
    line-height: 50px;
}

#post_writing:visited
{
    color: blue;
}

#auth_and_logout
{
    line-height: 50px;
    text-decoration: none;
    background-color: grey;
    float: right;

    height: 52px;
    width: 100px;

    margin-right: 10px;
}

#username
{
    float: right;
    margin-right: 20px;
}

#auth_and_logout:visited
{
    color: blue;
}

#post
{
    margin: 0px auto;
    background-color: yellow;
    width: 90%;
}

#post_name, #post_date, #post_tags
{
    border: 1px solid black;
    margin: 10px 0px;
}

#post_text 
{
    border: 1px solid black;
    margin-top: 10px;
    text-align: center;
}

#post_image
{
    width: 400px;
    height: 200px;
}